.form__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.border__modify {
    border: 1px solid #7fba00;
    border-radius: 6px;
    box-shadow: 0px 0px 3px 3px rgba(230, 230, 230, .3);
}

.btn.btn-info.btn-block.my-4.customize__button {
    background-color: #4d4d4d;
    border-color: #4d4d4d;
}

.btn.btn-info.btn-block.my-4.customize__button:hover {
    background-color: #7fba00;
    border-color: #7fba00;
}

.forgot>a {
    color: #7fba00;
    text-decoration: none;
}