/* 
1.breadcrumb
    1.1 container breadcrumb
    1.2 breadcrumb__icon
    1.3 breadcrumb__title
2.main__category__container
    2.1 category__search 
        2.1.1 search__by__category   
        2.1.2 search__by__define 
        2.1.3 banner__container
        2.1.4 specials__container
    2.2 category__item__container
        2.2.1 banner
        2.2.2 refine search
        2.2.3 sortItem
        2.2.4 listItem__container
        2.2.5 pagination
*/

/* 1.1 container breadcrumb */
.product-item:hover {
    cursor: pointer;
}

.wrapper-category {
    max-width: 1140px;
    margin: 0 auto;
}

.breadcrumb__container {
    display: flex;
    height: 100px;
    padding: 24px 0;
}

/* 1.2 breadcrumb icon */
.breadcrumb.non-bg {
    background-color: white;
    padding: 16px 0 0 16px;
}

.color-green {
    color: #7fba00;
}

/* 1.3 breadcrumb title */

.breadcrumb__title>span:hover {
    text-decoration: underline;
    cursor: pointer;
}

/* **************************************** */
/* 2.main category container */
.main__category__container {
    display: flex;
}
/* 2.1 category_search*/
.category__search {
    width: 25%;
    padding-right: 16px;
}

/* 2.1.1 search__by__category */
.search__title>h3 {
    border-top: 2px solid #eeeeee;
    border-bottom: 2px solid #eee;
    padding: 10px 0 10px 16px;
}

.list__category {
    padding: 16px;
}

.list__category>ul>li {
    padding-bottom: 8px;
}

.list__category>ul>li:hover {
    cursor: pointer;
}

/* 2.1.2 search__by__define */
.list__item input {
    margin-right: 9px;
    margin-bottom: 16px;
}

.list__search {
    padding: 0 16px;
}

.list__search .title {
    padding: 18px 0 16px;
}

.button__search {
    margin-top: 21px;
    padding: 0 16px;
}

.button__search a {
    background: gray;
    color: white;
    text-decoration: none;
    padding: 8px 16px;
    border-radius: 28px;
}

.button__search a:hover {
    background: #7fba00;
    cursor: pointer;
}

/* 2.1.3 banner__container */
.banner__container {
    margin: 36px 0;
}

.banner__container img {
    width: 100%;
}

/* 2.1.4 specials__container */
.specials__container .product-item {
    display: flex;
    padding: 6px 16px;
}

.product-list {
    padding: 18px 0;
}

.product-item .image {
    width: 30%;
}

.product-item .image img {
    width: 100%;
    vertical-align: middle;
}

.product-item .content {
    padding-left: 18px;
    font-size: 13px;
}

.product-item .content__wrapper {
    width: 70%;
    display: flex;
    align-items: center;
}

.price {
    display: flex;
}

.price__cost>span {
    padding-left: 16px;
    color: gray;
    text-decoration: line-through;
}

.content>a {
    font-weight: bold;
}

.hover:hover {
    color: #7fba00;
    cursor: pointer;
}


.category__search {
    width: 25%;
    padding-right: 16px;
}

/* 2.1.1 search__by__category */
.search__title>h3 {
    border-top: 2px solid #eeeeee;
    border-bottom: 2px solid #eee;
    padding: 10px 0 10px 16px;
}

.list__category {
    padding: 16px;
}

.list__category>ul>li {
    padding-bottom: 8px;
}

.list__category>ul>li:hover {
    cursor: pointer;
    color: #7fba00;
}

/* 2.1.2 search__by__define */
.list__item input {
    margin-right: 9px;
    margin-bottom: 16px;
}

.list__search {
    padding: 0 16px;
}

.list__search .title {
    padding: 18px 0 16px;
}

.button__search {
    margin-top: 21px;
    padding: 0 16px;
}

.button__search a {
    background: #262626;
    color: white;
    text-decoration: none;
    padding: 8px 16px;
    border-radius: 28px;
}

.button__search a:hover {
    background: #7fba00;
    cursor: pointer;
}

/* 2.1.3 banner__container */
.banner__container {
    margin: 36px 0;
}

.banner__container img {
    width: 100%;
}

/* 2.1.4 specials__container */
.specials__container .product-item {
    display: flex;
    padding: 6px 16px;
}

.product-list {
    padding: 18px 0;
}

.product-item .image {
    width: 30%;
}

.product-item .image img {
    width: 100%;
    vertical-align: middle;
}

.product-item .content {
    padding-left: 18px;
    font-size: 13px;
}

.product-item .content__wrapper {
    width: 70%;
    display: flex;
    align-items: center;
}

.price {
    display: flex;
}

.price__cost>span {
    padding-left: 16px;
    color: gray;
    text-decoration: line-through;
}

.content>a {
    font-weight: bold;
}

.hover:hover {
    color: #7fba00;
    cursor: pointer;
}

/* 2.2 category__item__container */
/* 2.2.1 banner */
.category__item__container {
    width: 75%;
    padding: 0 16px;
}

.banner__main__wrapper h3 {
    padding: 11px 0 16px;
}

.image__banner__main img {
    width: 100%;
    vertical-align: middle;
}

/* 2.2.2 refine search */
.refine__search__container {
    padding: 24px 0;
}

.refine__search__container>h4 {
    padding: 0 0 12px 0;
}

.refine__search__container .search__list {
    display: flex;
    justify-content: space-between;
    /* background-color: aquamarine; */
    width: 55%;
}

.search__list>li {
    padding: 5px 15px;
    border: 1px solid #e5e5e5;
}

.search__list>li>a {
    color: #262626;
    text-decoration: none;
}

/* 2.2.3 shortitem */
.shortItem__container {
    display: flex;
}

.gridview__icon {
    width: 60%;
}

.gridview__icon i {
    padding-right: 7px;
    font-size: 27px;
}

.gridview__icon i:hover {
    color: #7fba00;
    cursor: pointer;
}

.short__by {
    width: 40%;
}

#inputGroupSelect03 {
    width: 100px;
    height: 31px;

    display: flex;
    justify-content: center;
    align-items: center;
}

#inputGroupSelect04 {
    width: 100px;
    height: 31px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.short__by {
    display: flex;
}

.short__by__default {
    width: 50%;
}

.short__show {
    width: 50%;
}

.shortItem__container {
    padding: 47px 0 19px;
}

/* 2.2.4 listItem__container */
.listItem__container {}

.product-list {}

.product-list__container {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;

    margin: 0 -8px;
}

.product-list__container .product-item {
    width: 33.33%;
    padding: 0 8px;
    margin: 20px 0;
    cursor: pointer;
    transition: all 0.35s;
}

.product-item>.product-item__image {
    width: 265.5px;
    height: 265.5px;
}

.product-item>.product-item__image>img {
    width: 265.5px;
    height: 265.5px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.product-item__content {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.price--line-through {
    text-decoration: line-through;
    color: gray;
}

/* 2.2.1 star rank */
ul.star-rank {
    display: flex;
    justify-content: center;
}

ul.star-rank>li {
    color: yellow;
}

.product-item:hover ul.star-rank {
    display: none;
}

/* 2.2.2 add to cart button */
.add-to-cart__btn {
    display: none;
    text-transform: uppercase;
    text-decoration: none;
    color: #7fba00;
}

.product-item:hover .add-to-cart__btn {
    display: block;
}

/* 2.2.5 pagination */
.show__page__container {
    display: flex;
    padding: 32px 0;
}

.show__page {
    width: 50%;
    display: flex;
    justify-content: flex-start;
}

.show__pagination {
    width: 50%;
    display: flex;
    justify-content: flex-end;
}

.show__pagination ul>li {
    display: flex;
    justify-content: center;
    align-items: center;
}

/*.show__page__container ul>li>a {*/
/*    margin: 3px;*/
/*    padding: 5px 12px;*/
/*    border: 1px solid #292929;*/
/*    text-decoration: none;*/
/*    color: white;*/
/*    transition: all .35s;*/
/*    background: #7fb300;*/
/*}*/

/*.show__page__container ul>li>a:hover {*/
/*    background: #292929;*/
/*}*/

/*.active {*/
/*    background: #292929 !important;*/
/*}*/


.show__page__container ul>li>a {
    margin: -4px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;
    /* border: 1px solid #292929; */
    text-decoration: none;
    /* color: white; */
    transition: all .35s;
    /* background: #33b5e5;*/
}

.show__page__container ul>li>a:hover {
    font-weight: bold;
    color: #7fba00;
}

.active {
    font-weight: bold;
    color: #7fba00 !important;
}