/* 
*/
footer {
    background: url(../img/footer-bkg.jpg);
    padding: 48px 0;
}

.footer__container {
    display: flex;
    justify-content: space-between;
}

.footer__item {
    border-right: 1px solid #d3d3d3;
    width: 25%;
    height: 220px;
    padding: 0 8px;
}

.footer__item:last-child {
    border: none;
    display: flex;
    flex-flow: column nowrap;
}

.footer__item>h1 {
    text-align: center;
}

ul.store__item {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: flex-start;
}

ul.store__item>li {
    padding: 4px 0;
}

.footer__input {
    padding: 24px 0;
    position: relative;
}

.footer__input>input {
    width: 100%;
    border-radius: 20px;
    padding: 8px 12px;
    border: none;
}

.footer__input>i {
    position: absolute;
    right: 8px;
    top: 32px;
}

ul.list-icon__footer {
    display: flex;
}

ul.list-icon__footer>li {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: white;
}

ul.list-icon__footer>li>a {
    text-decoration: none;
    color: #696969;
}

.footer-bottom {
    padding: 48px 0 0 0;
}

.footer-bottom__container {
    border-top: 1px solid #d3d3d3;
    display: flex;
    padding: 24px 0 0 0;
    justify-content: space-between;
    align-items: center;
}

ul.bank-card__list__container {
    display: flex;
    width: 200px;
    justify-content: space-between;
    /* background-color: blue; */
}